/*
FONTS
Including new fonts
 */
@font-face {
    font-family: Ubuntu;
    src: url("../../../vulcan/src/fonts/Ubuntu-Regular.ttf");
}

/*
THE MAIN PAGE CONFIGURATION
this is the stuff, which is needed for the frame of the site, which means setting background picture, main display
style, removing the margin of the body etc.
 */
body {
    margin: 0px;
}

div.page-wrapper {
    width: 100%;
}

div.page-content-wrapper {
    width: 100%;
}

/*
THE HEADER
 */

div#vulcan-header-wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;

}

div#vulcan-header-content-wrapper {
    width: 100%;
    height: 65px;

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    z-index: inherit;

    background: linear-gradient(45deg, rgba(59,59,59,0.98), rgba(40,40,40,0.96));
}

img#logo-icon-image {
    height: 80px;
    width: 200px;

    position: absolute;
    left: 10px;
    top: 5px;

    z-index: 2;
}

div.nav-item-wrapper {
    margin-left: 15px;
    margin-right: 15px;
}

div#nav-item-last-wrapper {
    margin-right: 50px;
}

a.nav-item {
    font-family: Ubuntu, sans-serif;
    font-size: 1.3em;

    color: #e1e1e1;

    text-decoration: none;
}



/*
THE MAIN SECTION
the main section contains the slide show and the overlay navigation 'widget'
 */

div#main-section-wrapper {
    background-color: #1c1c1c;

    position: relative;

    z-index: 1;

    width: 100%;
}

div#slide-show-image-wrapper {

}

img.slide-image {
    width: 100%;
}

div#slide-show-overlay-wrapper {
    display: flex;
    flex-direction: row;

    position: relative;

    margin-left: 5px;
    margin-right: 5px;

    z-index: inherit;
}

button.slide-show-button {
    width: 40px;
    height: 40px;

    font-size: 1.1em;

    background-color: transparent;
    color: white;

    border-radius: 100%;
    border-color: rgba(67,67,67,0.40);

}

div#slide-show-main-overlay-wrapper {
    width: 100%;

    margin: 15px;
    z-index: inherit;

    position: relative;
}

p#slide-show-overlay-title, p#slide-show-overlay-sub-title {
    position: absolute;

    font-family: Impact, sans-serif;
    font-size: 1.9em;

    z-index: 2;

    background-color: rgba(255,102,56,0.98);

    color: rgba(255,255,255,0.98);

    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
}

p#slide-show-overlay-title {
    left: 40px;
    top: 30px;
}

p#slide-show-overlay-sub-title {
    left: 40px;
    top: 80px;
}

div.slide-show-button-wrapper {
    display: flex;
    align-items: center;
}

div#slide-show-overlay-menu-wrapper {
    background-color: white;

    width: 200px;

    position: absolute;
    top: 52%;
    left: 68%;
}

a.slide-show-overlay-menu-item {
    font-size: 1.2em;
    font-family: sans-serif;

    color: rgba(225,225,225,0.62);

    text-decoration: none;
}

a#slide-show-overlay-menu-item-first {
    position: absolute;

    top: 10px;
    left: 60px;
}

a#slide-show-overlay-menu-item-second {
    position: absolute;

    top: 72px;
    left: 40px;
}

a#slide-show-overlay-menu-item-third {
    position: absolute;

    top: 140px;
    left: 10px;
}


